<h1 class="header" @fade>Hello World</h1>
<input
  type="name"
  class="form-control"
  id="exampleInputEmail1"
  aria-describedby="emailHelp"
  placeholder="Enter name"
  style="margin:10px 0px"
  [(ngModel)]="inputValue"
  (keyup.enter)="addItem()"
/>
<table class="table ">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr @bounceLeftOut *ngFor="let item of items; index as i">
      <td (click)="deleteItem(i)" style="cursor:pointer">{{ item }}</td>
    </tr>
  </tbody>
</table>
