.header {
  text-align: center;
}

td {
  font-size: 20px;
  font-weight: bold;
  margin: 4px;
  border-top: 6px solid #fff;
}

.table {
  background-color: rgb(206, 205, 205);
}
th {
  background-color: #fff;
}
